@import "./palette";

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 200px 24px 0;
}

.title {
    font-family: Nekst, sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    max-width: 800px;
}

.group_title {
    font-family: "Gilroy", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.group {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin: 12px;
}

.line, .results_line, .results {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.result {
    font-family: "Nekst", sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: #575757;
}

.slider_suffix {
    font-family: "Nekst", sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: $slider-text;
    line-height: 36px;
}

.slider_suffix_box {
    font-family: "Nekst", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: $slider-text;
    line-height: 120%;

    margin-right: -16px;

    background: #EBEBEC;
    border-radius: 16px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.send_wrap_wide {
    justify-content: center;
}

.send_button {
    width: 100%;
    font-family: "Nekst", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

@media (max-width: 1439px) {
    .app {
        padding-top: 120px;
    }

    .line {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .results_line {
        flex-direction: column;
    }

    .send_button {
        margin-top: 48px;
        width: auto;
    }
}

@media (max-width: 768px) {
    .app {
        padding-top: 24px;
    }
    .title {
        font-size: 34px;
    }

    .slider_suffix {
        font-size: 22px !important;
    }

    .group_title {
        font-size: 14px;
    }

    .result {
        font-size: 22px;
    }

    .group {
        margin: 8px;
    }

    .results {
        flex-direction: column;
    }

    .send_button {
        height: 60px;
        width: 100%;
        font-size: 22px;
    }
}